body{
background-color: white;
font-family:Arial, Helvetica, sans-serif;
}


a{
  color:white;
  text-decoration: none;
}

.flex-container {
    display: flex;
   flex-direction: row;
  }


  .flex{
     display: flex;
     width: 900px;
  }
  
  .flex-container .div1 {
    background-color: #f1f1f1;
    margin: 10px;
    font-size: 30px;
    width:300px;
    height:100px;
    border: 1px solid;
    box-shadow: 5px 7px #2196F3;
 }

/* main page */

 .background_img {
   height: 340px;
     margin: 0px;
     padding: 70px;
     background-image: url("https://www.vvob.org/sites/belgium/files/styles/780pxx330px/public/images/mainimagebig/_bec4693_0.jpg?itok=c5WmaEos") ; 
     background-size: cover ;
 
 }
 
 .logo {
   max-width: 25%;
 
 }
 
 

 .container {
   display: flex;
   flex-direction: column;
   
 }
 .about {
   background: #053a66;
   flex-grow: 1;
   
 }
 
 .events{
   background: #053a66;
   flex-grow: 1;
   
  
 }
 .faq{
   background: #053a66;
   flex-grow: 1;
   
   
 
 }
 .contact{
   background: #053a66;
   flex-grow: 1;
  
   
 
 }
 
 .container > div {
   
   font-size: medium;
   color: white;
   padding: 0%;
   border-width: 5px;
   
  
 }
 
 
 .bottomnavbar{
   display: flex;
   justify-content: center;
 
 }
 
 .container:nth-of-type(0){
   color: white;
 }

/* Game Button on Navigation Bar */
#gameBtn {
  position: absolute;
  /* background-color: inherit; */
  float: left;
  border: none;
  outline: none; 
  cursor: pointer;
  padding: 14px 16px;
  width: 10%;
  margin: auto;
  transition: 0.3s;
  font-size: 110%;
}

#gameBtn :hover {
  font-size: 122%;
}
/* Game Button End */






 /* newww */
 /*Blue shade - #2196f3 */

body{
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;

  padding-bottom: 40px;
}

a{
  color:white;
}

body{
  margin-top: 0;
  margin-left:0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}
/* h1 {
  color: white ;
  align-items: center;
  margin-left: 40%;

} */



.logo {
  /* background: url("https://o.remove.bg/downloads/0206abbb-08be-4667-9bce-010f3a8aed05/download-removebg-preview.png"); */
max-width: 25%;
  

}




.container {
  display: flex;
  flex-direction: column;
  
}
.about {
  background: #053a66;
  flex-grow: 1;
  
}

.events{
  background: #053a66;
  flex-grow: 1;
  
 
}
.faq{
  background: #053a66;
  flex-grow: 1;
  
  

}
.contact{
  background: #053a66;
  flex-grow: 1;
 
  

}

.container > div {
  
  font-size: medium;
  color: white;
  padding: 0%;
  border-width: 5px;
  
 
}


.bottomnavbar{
  display: flex;
  justify-content: center;

}

.container:nth-of-type(0){
  color: white;
}



.flex-container ul {
  
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-content: baseline;
}

.section {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 40px;
  width: 70%;
  margin: 5rem auto 0 auto;
  border: 1px solid black;
  box-shadow: 5px 7px #2196f3;

}
.section img{
  
height: 250px;
width: 250px;

}
.section p, h3{
margin: 0;
padding-left: 3%;
}

/* .section #fund {
  margin-right: 0px;
  align-content: start;
  width: 50px;
} */
 ul li:nth-of-type(5){
  color: rgb(255, 253, 246);
} 






.socialMediaImg{
  margin-right: 200px;
}

 /* NEW FOOTER CSS */
/* .footer .container {
  padding: 60px;
} */

h5 {
  padding-top: 20px ;
}

.homeFooter {
  margin-top: 20px;
  /* margin-left: 10px; */
}

.contactFooter {
  margin-top: 20px;
  margin-left: 35px;
  
}

.aboutFooter {
  margin-top: 20px;
  margin-left: 35px;
}

.fa{
margin-top: 15px;
padding: 10px;
}

/* COPY FOOTER CSS UNTIL HERE! */

 @media (max-width:  767.98px) { 
  .section{
   display: block;
    
  }
 }

 
 
/* NEW FOOTER CSS */
.footer .container {
  padding: 60px;
}

h5 {
  padding-top: 20px ;
}

.homeFooter {
  margin-top: 20px;
  margin-left: 10px;
}

.contactFooter {
  margin-top: 20px;
  margin-left: 35px;
  
}

.aboutFooter {
  margin-top: 20px;
  margin-left: 35px;
}

.fa{
  margin-top: 15px;
padding: 10px;
}

/* COPY TILL HERE */
.jumbotron{
  /* background-image: url('https://www.vvob.org/sites/belgium/files/styles/780pxx330px/public/images/mainimagebig/_bec4693_0.jpg?itok=c5WmaEos');

  background-size:contain; */
  background-image: url("/images/header\ new\ new.jpg");
  background-size: cover;
  opacity: 0.8;
  margin-bottom: 0;
}

.aboutheader{
  text-align: center;
}

.searchbar{
  margin-left: 270px;
}

#scrollButton {
  height: 35px;
  background-color: #2196f3;
  color: white;
  border-radius: 15px;
  margin-left: 700px;
  border: white;
}



/* new  nav */

.tab {
  overflow: hidden;
  border: 1px solid rgba(245, 229, 14, 0.89);
  background-color: #1c5da7 ;

}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none; 
  cursor: pointer;
  padding: 14px 16px;
  width: 10%;
  margin: auto;
  transition: 0.3s;

}

.tab button:hover {
  background-color: rgb(202, 190, 17);
}

.tab button.active {
  background-color: rgb(202, 190, 17);
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}



@media screen and (max-width: 600px) {
  .tab a:not(:first-child) {display: none;}
  .tab a.icon {
    float: right;
    display: block;
  }
}

   
  .tab button.responsive a {
    float: none;
    display: block;
    text-align: bottom;
  }