/* COPY FROM HERE! */



/* NEW FOOTER CSS */
.footer .container {
  padding: 60px;
}

h5 {
  padding-top: 20px ;
}

.homeFooter {
  margin-top: 30px;
  margin-left: 10px;
}

.contactFooter {
  margin-top: 20px;
  margin-left: 35px;
  
}

.aboutFooter {
  margin-top: 20px;
  margin-left: 35px;
}

.fa{
  margin-top: 15px;
padding: 10px;
}

/* COPY TILL HERE */


