.jumbotron {
    /* background-image: url('https://www.vvob.org/sites/belgium/files/styles/780pxx330px/public/images/mainimagebig/_bec4693_0.jpg?itok=c5WmaEos'); */
     background-image: url("/images/header\ new\ new.jpg");
    background-size: cover;
    opacity: 0.8;
}

/* .nav{
    display: flex;
} */

.container{
    padding: 5px;
}
.headerLinks{
    display: flex;
    flex-direction: row;
}

